<div class="card article" id="article-<%= article[:id]%>">
  <div class="card-body">
    <h2 class="card-title">
      <%= article[:title] %>
      <%= status_badge(article[:status], 'article') %>
    </h2>
    <p class="card-text"><%= article[:content] %></p>
    
    <%# Show rejection feedback if available %>
    <% if article[:rejection_feedback].present? %>
      <div class="alert alert-warning mt-3">
        <h6><strong>Rejection Feedback:</strong></h6>
        <p class="mb-0"><%= article[:rejection_feedback] %></p>
      </div>
    <% end %>
    
    <div class="mt-3">
      <%= render_links(article[:links]) %>
    </div>
    
    <%# HAL-style _embedded comments %>
    <% if article[:_embedded] && article[:_embedded][:comments] %>
      <div class="mt-3">
        <%= render partial: 'comments/list', locals: { comments: article[:_embedded][:comments], title: 'Comments' } %>
      </div>
    <% end %>
    
    <%= link_to 'Add Comment', new_article_comment_url(article[:id]), class: 'btn btn-primary' %>
  </div>

  <%= article.to_s %>
</div>
