<div class="card article" id="article-<%= article[:id]%>">
  <div class="card-body">
    <h2 class="card-title"><%= article[:title] %></h2>
    <p class="card-text"><%= article[:content] %></p>
    <div class="mt-3">
      <%= render_links(article[:links]) %>
    </div>
    <div class="mt-3">
      <%= render partial: 'comments/list', locals: { comments: article_comments, title: 'Comments' } %>
    </div>
    <%= link_to 'Add Comment', new_article_comment_url(article[:id]), class: 'btn btn-primary' %>
  </div>
</div>
